# Minimal Airflow runtime needed

apache-airflow==3.2.1
apache-airflow-providers-cncf-kubernetes==10.16.0
attrs==26.1.0
boto3==1.42.84
packaging==26.1
pydantic==2.13.1
typing_extensions==4.15.0
SQLAlchemy==2.0.49
tabulate==0.10.0
Werkzeug==3.1.8
Flask==3.1.3
